:root {
  --main_color: #318ad1;
  --transparent_main_color: #318ad1bf;
  --main_color_hover: #088cf9;
  --main_text_color: #000daa;
  --white: #ffffff;
}

.main_color {
  color: var(--main_color);
}

.clear_cart_button {
  padding: 0.5rem 0.8rem !important;
  font-size: 0.8rem !important;
}

body {
  font-family: 'Inter', sans-serif;
  /* color: #111827; */
  /* color: white; */
  background-color: #f3f4f6;
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  
  margin-bottom: 200px;
  padding: 1rem 1rem;
}

.search_title {
  border-radius: 1rem 1rem 0 0;
  padding: 1rem 3rem 0rem 3rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: var(--main_color);
  text-align: center;
  margin-bottom: 0;
}

.Flights_search_title {
  border-radius: 5px 5px 0 0;
  transform: translate(-50%);
  left: 50%;
  position: relative;
  padding: 0px 2rem;
  max-width: fit-content;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: var(--main_color);
  text-align: center;
}

.search_area {
  /* background: linear-gradient(135deg, #818cf8, #3730a3); */
  background: var(--main_color);
  border-radius: 0 0 1rem 1rem;
  padding: 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
}

.tabs {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 0.75rem;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  font-size: 1rem;
  font-weight: 500;
}

.tab:hover,
.tab.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.form_grid {
  display: grid;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .form_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.form_group {
  display: flex;
  flex-direction: column;
}

.label,
.label_big {
  color: #ffffff;
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.input_wrapper {
  position: relative;
}

.input_span {
  margin-left: -1px;
  /* padding-right: 30px; */
  position: absolute;
  /* Adjust the value to place it closer or further from the input */
  top: 50%;
  transform: translateY(-50%);
  /* Vertically center the span */
  font-size: 14px;
  /* Adjust the font size to your needs */
  color: #333;
  /* Set the text color */
}

.input {
  width: 100%;
  padding: 0.75rem 1rem 0.75rem 2.5rem;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.375rem;
  color: #ffffff;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:-webkit-autofill {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #ffffff !important;
}

.input:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input_icon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.6);
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border: none;
  background-color: var(--main_color)
}

.button:hover {
  background-color: var(--main_color_hover);
}

.button_economy {
  background-color: var(--economy_bg_color);
}

.button_business {
  background-color: var(--business_bg_color);
}

.button_primary {
  background-color: #ffffff;
  color: var(--main_color);
}

.button_primary:hover {
  background-color: #f3f4f6;
}

.button_secondary {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.button_secondary:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.button_outline {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.button_outline:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.button_icon {
  margin-right: 0.5rem;
}

.button_full {
  width: 100%;
}

.flight_results {
  margin-top: 2rem;
}

.flight_results_title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--main_text_color);
  margin-bottom: 1rem;
}

.flight_card {
  /* background: linear-gradient(135deg, #818cf8, #4f46e5); */
  background: var(--main_color);
  border-radius: 0.75rem;
  overflow: hidden;
  margin-bottom: 1.5rem;
  transition: box-shadow 0.3s;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.flight_card:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.flight_card_content {
  padding: 1.5rem;
  color: #ffffff;
}

.flight_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

h3 {
  color: var(--main_text_color)
}

.flight_header h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
}

.flight_duration {
  font-size: 0.9rem;
  font-weight: 500;
}

.center_text {
  text-align: center;
}

.flight_details {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.details_container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 3px;
}

.middle_container {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.flight_route {
  text-align: center;
}

.flight_route h4 {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.flight_route p {
  font-size: 0.875rem;
  opacity: 0.8;
}

.flight_icon {
  transform: rotate(90deg);
}

.flight_actions {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.class_buttons_container {
  justify-content: right;
  gap: 10px;
  display: flex;
}

.capitalize {
  text-transform: capitalize;
}

.seats_available {
  font-size: 0.75rem;
  opacity: 0.8;
  margin-left: 0.5rem;
}

.cart_button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 50;
  /* background-color: #4f46e5; */
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  border: 1px, solid, white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cart_button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.white_text {
  color: white;
}

@keyframes grow {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes shrink {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}

.cart_popover {
  position: fixed;
  bottom: 6rem;
  right: 2rem;
  width: 24rem;
  background-color: #ffffff;
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  z-index: 1000;
  animation: grow 0.1s ease-out;
}

.cart_popover.closing {
  animation: shrink 0.3s ease-in forwards;
}

.cart_title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.cart_scroll_area {
  padding-right: 0.2rem;
  max-height: 300px;
  overflow-y: auto;
}

.cart_item {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 1rem 0;
  border-bottom: 1px solid #e5e7eb;
}

.cart_item:last-child {
  border-bottom: none;
}

.cart_total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #e5e7eb;
  font-weight: 600;
}

.cart_total_price {
  font-size: 1.25rem;
  /* color: #4f46e5; */
  color: var(--main_text_color)
}

.cart_actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal_content {
  background-color: #ffffff;
  border-radius: 0.75rem;
  padding: 2rem;
  max-width: 32rem;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal_actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}

.close_button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.bottom_button {
  margin-top: 1em;
  /* background-color: #0066cc; */
  color: white;
  width: 100%;
}

.close_button:hover {
  color: var(--main_color_hover);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade_in {
  animation: fadeIn 0.3s ease-out;
}

.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.loader_container_absolute {
  display: block;
  height: 0;
  z-index: 2000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.loader {
  border: 4px solid #e5e7eb;
  border-top: 4px solid var(--main_color);
  border-radius: 50%;
  width: 2.40rem;
  height: 2.40rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.navigation_buttons_section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  align-items: center;
}

.navigation_buttons {
  /* background-color: #0066cc; */
}

.multi_city_flights {
  margin-top: 1.5rem;
}

.scrollable {
  max-height: 220px; 
  overflow-y: auto; 
}

.multi_city_actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.flight_header_left_container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.leg_container {
  display: block;
}

.form_row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  /* justify-content: center;
  align-items: center; */
}

@media (max-width: 500px) {
  .form_row {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .multi_city_flights .form_row {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .form_grid {
    flex-direction: column;
  }
}

.form_row .form_group {
  flex: 1;
}

.multi_city_flights .form_row {
  margin-bottom: 1rem;
}

.selected_flight {
  border: 2px solid #4ade80;
  box-shadow: 0 0 0 2px #4ade80;
}

.button_selected {
  background-color: #3730a3;
  color: #ffffff;
}

.button_selected:hover {
  background-color: #4f46e5;
}

.booked_flights {
  margin-top: 2rem;
}

/* .booked_flights .button {
  margin-top: 1rem;
} */

.passenger_form_container {
  overflow-y: auto;
  max-height: 400px;
}

.passenger_form {
  margin-top: 1rem;
}

.passenger_form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
}

.selected_class {
  outline: 3px solid #4ade80;
  outline-offset: -3px;
}

.booked_flights_container {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f3f4f6;
  border-radius: 0.5rem;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

h2 {
  color: var(--main_text_color);
}

h5 {
  color: grey;
  font-size: 0.95rem;
}

Trash2 {
  color: #4f46e5;
}

.cart_details {
  font-family: 'Roboto', sans-serif;
  color: #333 !important;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.cart_details p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.5;
}

.cart_details .flight-code {
  font-weight: bold;
  color: #0066cc;
  font-size: 18px;
}

.cart_details .class,
.cart_details .passengers,
.cart_details .price {
  color: #555;
  font-size: 16px;
}

.cart_details .price {
  font-weight: bold;
  color: #e74c3c;
}

.cart_details .flight-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cart_details .flight-details p {
  font-size: 15px;
  margin-bottom: 8px;
}

.cart_details .flight-details p span {
  font-weight: bold;
}

.cart_details .separator {
  margin-top: 15px;
  border-top: 2px solid #f0f0f0;
  padding-top: 10px;
  margin-bottom: 10px;
}

.cart_details .footer {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: bold;
}

.navigation_buttons,
.clear_button {
  /* background-color: #5b52d5; */
  color: white;
}

.full_height_container {
  display: flex;
  /* flex-direction: column; */
}

.cart_item .details_container {
  margin: 0;
}

.navigation_buttons:hover,
.clear_button:hover {
  background-color: var(--main_color_hover);
}

.button:disabled {
  background-color: gray;
  cursor: not-allowed;
  color: #d3d3d3;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  caret-color: #fff !important;
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: white !important;
  color: white !important;
  transition: background-color 1s 5000s;
  /* transition: color 1s 5000s; */
}

.not_in_flights {
  background: var(--transparent_main_color);
  border-radius: 1rem;
  margin-bottom: 0;;
}

.autocomplete_wrapper {
  position: relative;
  width: 100%;
}

.suggestions_container {
  z-index: 50000;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.244);
  backdrop-filter: blur(10px);
  border-radius: 0.375rem;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.suggestion_item {
  z-index: 100;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s ease;
}

.suggestion_item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.suggestion_city {
  font-weight: 500;
}

.suggestion_code {
  font-size: 0.875rem;
  /* color: rgba(255, 255, 255, 0.7); */
  color: var(--main_color)
}

.no_suggestions {
  padding: 0.5rem 1rem;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.scrollable {
  padding-right: 10px;
}

.scrollable::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.scrollable::-webkit-scrollbar-track:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.scrollable::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.47);
  border-radius: 4px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.786);
  transform: scale(1.1);
}

/**/
.suggestions_container {
  padding-right: 5px;
}

.suggestions_container::-webkit-scrollbar {
  width: 8px;
}

.suggestions_container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

.suggestions_container::-webkit-scrollbar-track:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.suggestions_container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.47);
  border-radius: 2px;
}

.suggestions_container::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.786);
  transform: scale(1.1);
}

/* Toast Container */
.toast {
  background-color: #fff;
  color: #333;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px 24px;
  width: 300px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  animation: fadeIn 0.3s ease-in-out;
  border-left: 4px solid;
}

.toastSuccess {
  border-left-color: #4caf50;
}

.toastError {
  border-left-color: #f44336;
}

.toastTitle {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.toastDescription {
  font-size: 14px;
  margin: 0;
  color: #666;
}

.toastViewport {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  z-index: 100000;
  outline: none;
}

.resultTitleAndDropdownContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sortDropdownContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  /* backdrop-filter: blur(10px); */
}

.sortDropdown {
  /* appearance: none; */
  background-color: rgba(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  color: #333;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s ease;
  backdrop-filter: blur(10px);
}

.sortDropdown:hover {
  border-color: #888;
}

.sortDropdown:focus {
  border-color: #555;
}

.sortDropdown option {
  border-radius: 20px;
  background-color: #fff;
  color: #333;
}

