.dashboard_container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}

.dashboard_title {
    font-size: 1.875rem;
    font-weight: bold;
}

.dashboard_grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .dashboard_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .dashboard_grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.dashboard_card {
    text-decoration: none;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dashboard_card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    /* hover:shadow-lg */
}

.card_content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card_icon {
    color: #0284c7;
    /* text-sky-600 */
}

.card_title {
    font-size: 1.125rem;
    /* text-lg */
    font-weight: 500;
    /* font-medium */
    color: #000000;
    /* text-black */
}